.path-report-certaintyquizzes .btn.report-toggler-button {
    flex-basis: 0;
    height: 100%;
    align-content: center;
    min-width: 15vw;
}

.path-report-certaintyquizzes .chart-area .chart-image {
    width: 100%;
}

.path-report-certaintyquizzes canvas {
    /* Necessary for Chrome. */
    max-width: 100%;
}

.path-report-certaintyquizzes .student-attempts-table {
    max-height: 30vh;
    overflow-y: auto;
    border: solid 2px;
    text-align: center;
    background-color: lavender;
    color: black;
}

.path-report-certaintyquizzes .student-attempts-table th,
.path-report-certaintyquizzes .student-attempts-table td {
    padding: 0 .4em;
}

.path-report-certaintyquizzes .student-attempts-table thead {
    background-color: #7840a1;
    color: white;
    overflow: hidden;
}

.path-report-certaintyquizzes .student-attempts-table th:not(:last-child),
.path-report-certaintyquizzes .student-attempts-table td:not(:last-child) {
    border-right: 1px solid gray;
}

.path-report-certaintyquizzes .student-attempts-table thead,
.path-report-certaintyquizzes .student-attempts-table tr:not(:last-child) {
    border-bottom: 1px solid gray;
}

.path-report-certaintyquizzes .charts-sidebar {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: floralwhite;
}

.path-report-certaintyquizzes .charts-content {
    width: 100%;
    transition: width 500ms ease;
}

.path-report-certaintyquizzes .charts-content.reducedwidth {
    width: 50%;
}

.path-report-certaintyquizzes .circle-indicator {
    display: inline-block;
    height: 18px;
    width: 18px;
    min-height: 18px;
    min-width: 18px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: var(--shape-color);
}
